/*
Colors used:
Primary Color (cream): #F9F5E9;
Secondary Color (dark blue): #0d264f;
Third Color (yellow): #f5bc5a;
Text (Black blue): #07214b;
*/

/* ----------------------------section start----------------------------*/
 /* box sizing */
 * {
  box-sizing: border-box;
}
/* ----------------------------section end----------------------------*/

/* ----------------------------section start----------------------------*/
/*default body settings*/

body {
    background-color: #F9F5E9;
    font-family: 'Merriweather', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #07214b;
}

h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

  /* images to full width*/
img {
    width: 100%;
  }

/* default & changed link colors*/
  a {
    color: #13366e;
    text-decoration: none; /* No underlining */
  }
  a:hover {
    color: #13366e;
    text-decoration: underline; /* Underlining when hovering over a link */
  }

  /*button states*/

/*this block is why the color of the button text is messed up (ref 70) still don't know why*/
  a:visited { /* visited link */
    color: #507fff;                   
  }
  a:active { /* selected link */
    color: #507fff;
  }

  a:hover,
  a:focus {
  color: #507fff;
  text-decoration: underline;
}

.button {
    display: inline-block;
    background-color: #0d264f;
    color: #f5bc5a; /*this isn't changing the color of the button font from default link color, not sure why*/
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #f5bc5a;
    transition: 0.2s opacity;
  }

.button:hover { /*hover button*/
  opacity: 0.8;
  text-decoration: none;
}
.button:active { /*active button*/
    background-color: #f5bc5a;
    color: #0d264f;
    text-decoration: none;
  }

.button.contact {
    background-color: transparent;
    color: #0d264f;
    text-transform: uppercase;
    border: 2px solid #0d264f;
    margin: 10px
  }  
.button.contact:hover {
    background-color: #0d264f;
    color: #f5bc5a;
  }
.button.contact:active {
    background-color: #f5bc5a;
    color: #0d264f;
  }

/* ----------------------------section end----------------------------*/

/* ----------------------------section start----------------------------*/
/*stye the page sections*/

/*style the <header> element*/
header {
  background-color: #F9F5E9;
  padding: 10px 0;
  position: relative;
  box-shadow: 0px 7px 5px 0px rgba(3, 2, 48, 0.75);
}

/*style the logo*/
header .logo {
  max-width: 250px;
}

/*Navigation Styling*/
nav {
  display: inline-block;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #0d264f;
}

#hero {
  background-color: #F9F5E9;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero span {
  display: block;
}

/*Style the social icons*/
.social {
  list-style-type: none;
  padding: 0;
  margin-left: -10px;
}

.social img {
  height: 32px;
  width: 32px;
}
/* ----------------------------section end----------------------------*/

/* ----------------------------section start----------------------------*/
  /* Layout styling */

  .container {
    padding: 0 15px;
  }
  
  .row {
    margin: 25px 0; 
  }
  
  #work .row { padding-bottom: 25px; border-bottom: 2px solid #a00000; }  .col-md-6 {
  #work .row { padding-bottom: 25px; border-bottom: 2px solid #0d264f; }

  .row:after { /*needed to use .row:after instead of .row::after */
    content: "";
    clear: both;
    display: table;
  }
/* ----------------------------section end----------------------------*/

/* ----------------------------section start----------------------------*/

/* media queries */

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  #about h3 { margin-top: 0;}
  
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 0px 10px;  
  }

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 30px 0 23px;
  }

  #about h3 { margin-top: 0;}
  
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-lg-5 {
    width: 60%;
  }

  [class*="col-"] {
    float: left;
    padding: 0px 10px;  
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  header {
    text-align: unset;
    padding: 30px 0 23px;
  }

  #about h3 { margin-top: 0;}
  
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-xlg-4 {
    width: 70%;
  }

  [class*="col-"] {
    float: left;
    padding: 0px 10px;  
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
