/*
Colors used:
Primary Color (cream): #F9F5E9;
Secondary Color (dark blue): #0d264f;
Third Color (yellow): #f5bc5a;
Text (Black blue): #07214b;
*/

/* ----------------------------section start----------------------------*/
 /* box sizing */
 * {
  box-sizing: border-box;
}
/* ----------------------------section end----------------------------*/

html {
  scroll-behavior: smooth;
}

/* ----------------------------section start----------------------------*/
/*default body settings*/

body {
    background-color: #F9F5E9;
    font-family: 'Merriweather', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #07214b;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}



h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  margin-top: -8px;
}

#about-page h3 { margin-top: 0;}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

  /* images to full width*/
img {
    width: 100%;
  }

.about.img {
width: 100%;
max-width: 100%;
height: auto;
}

.profile.img {
  width: 50%;
  float: none;
}

/* default & changed link colors*/
  a {
    color: #13366e;
    text-decoration: none; /* No underlining */
  }
  a:hover {
    color: #13366e;
    text-decoration: underline; /* Underlining when hovering over a link */
  }

  /*button states*/
  a:visited { /* visited link */
    color: #507fff;                   
  }
  a:active { /* selected link */
    color: #507fff;
  }

  a:hover,
  a:focus {
  color: #507fff;
  text-decoration: underline;
}


.button.contact {
  display: inline-block;
  background-color: #0d264f;
  color: #f5bc5a;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #f5bc5a;
  transition-duration: 0.5s;
  transition-property: opacity;
  }  
.button.contact:hover {
    background-color: #0d264f;
    color: #f5bc5a;
  }
.button.contact:active {
    background-color: #f5bc5a;
    color: #0d264f;
  }

/* ----------------------------section end----------------------------*/

/* ----------------------------section start----------------------------*/
/*stye the page sections*/

/*style the <header> element*/
header {
  background-color: #F9F5E9;
  padding: 10px 0;
  position: relative;
  box-shadow: 0px 7px 5px 0px rgba(3, 2, 48, 0.75);
}

/*style the logo*/
header .logo {
  max-width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Navigation Styling*/
nav {
  display: inline-block;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #0d264f;
}

nav {
  width: auto;
  float: right;
}

/*hamburg menu*/
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle li:not(:last-child) {
    display: none;
  }

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  background-color: #F9F5E9;
  margin-top: 25px;
  margin-bottom: -51%;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px #f5bc5a;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

#hero {
  background-color: #F9F5E9;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero span {
  display: block;
}

/*Style the social icons*/
.social {
  list-style-type: none;
  padding: 0;
  margin-left: -10px;
}

.social img {
  height: 32px;
  width: 32px;
}
/* ----------------------------section end----------------------------*/

/* ----------------------------section start----------------------------*/
  /* Layout styling */

  .container {
    padding: 0 15px;
  }
  
  .row {
    margin: 25px 0; 
    padding-bottom: 25px; border-bottom: 2px solid #0d264f;
  }
  
  .row:after { /*needed to use .row:after instead of .row::after */
    content: "";
    clear: both;
    display: table;
  }
/* ----------------------------section end----------------------------*/

/* ----------------------------section start----------------------------*/
/* css animation */

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
/* ----------------------------section end----------------------------*/

/* ----------------------------section start----------------------------*/


/*Media Queries*/

/*clear page flow*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*float all columns left*/
[class*="col-"] {
  padding: 10px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  body {
    font-size: 18px;
  }
    
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
    
  header .logo {
    max-width: 250px;
  }
    
  nav > ul > li {
    display: inline-block;
  }
  
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
    
  .navtoggle li:last-child {
    display: none;
  }
    
  .col-md-6 {
    width: 50%;
    float: left;
    padding-bottom: 40px;
  }
    
}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }
    
  .col-lg-7 {
    width: 60%;
    float: left;
    padding-bottom: 40px;
  }
  .col-lg-8 {
    width: 40%;
    float: right;
  }
    
   #about-page .col-md-6 {
     width: 100%;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
/*
@media only screen and (min-width: 1440px) {
  header {
    text-align: unset;
    padding: 30px 0 23px;
  }

  #about h3 { margin-top: 0;}
  
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-xlg-4 {
    width: 70%;
  }


  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
*/